{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    
    "SHAREPOINT_SITE_URL": "https://votretenant.sharepoint.com/sites/votre-site",
    "SHAREPOINT_DRIVE_NAME": "Documents",
    "SHAREPOINT_FOLDER_PATH": "/",
    
    "AZURE_STORAGE_ACCOUNT_NAME": "votre-storage-account",
    "AZURE_BLOB_CONTAINER_NAME": "sharepoint-sync",
    "AZURE_BLOB_PREFIX": "",
    "MAX_FILE_SIZE_MB": "50",
    "SYNC_SCHEDULE": "0 */6 * * *",
    
    "DELETE_ORPHANED_BLOBS": "false",
    "SYNC_PERMISSIONS": "false"
  },
  "ConnectionStrings": {}
}
